body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
}

button,
input,
textarea {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  padding: 16px;
  border-radius: 8px;
}

button {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

input,
textarea {
  border: 2px solid #ddd;
}

.content-container {
  max-width: 700px;
  margin: auto;
}

.full-width {
  width: 100%;
}

.space-below {
  margin-bottom: 8px;
}

.evenly-spaced {
  display: flex;
}

.evenly-spaced > * {
  flex: 1;
  margin: 0 4px;
}

.weak {
  font-style: italic;
}

.note-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
  padding: 16px;
}

.note-list-item:hover {
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
